services:
  server:
    build: .
    env_file: .env
    environment:
      - APP_DB_HOST=postgres
    ports:
      - "${APP_PORT}:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    ports:
      - "${APP_DB_PORT}:5432"
    environment:
      - POSTGRES_USER=${APP_DB_USER}
      - POSTGRES_PASSWORD=${APP_DB_PASSWORD}
      - POSTGRES_DB=${APP_DB_NAME}
