name: Go Test Pipeline

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Run linter
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.1

  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: project-sem-1
          POSTGRES_USER: validator
          POSTGRES_PASSWORD: val1dat0r
        ports:
          - 5432:5432
        # Добавляем volume для сохранения данных
        volumes:
          - postgres_data:/var/lib/postgresql/data
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Run unit tests
      run: |
        make test

    - name: Make scripts executable
      run: |
        chmod +x scripts/prepare.sh
        chmod +x scripts/run.sh
        chmod +x scripts/tests.sh

    - name: Prepare environment
      run: ./scripts/prepare.sh

    - name: Run application
      run: ./scripts/run.sh
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_DB: project-sem-1
        POSTGRES_USER: validator
        POSTGRES_PASSWORD: val1dat0r

    - name: Test Level 1
      id: test-level-1
      continue-on-error: true
      run: ./scripts/tests.sh 1
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_DB: project-sem-1
        POSTGRES_USER: validator
        POSTGRES_PASSWORD: val1dat0r

    - name: Test Level 2
      id: test-level-2
      continue-on-error: true
      run: ./scripts/tests.sh 2
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_DB: project-sem-1
        POSTGRES_USER: validator
        POSTGRES_PASSWORD: val1dat0r

    - name: Test Level 3
      id: test-level-3
      continue-on-error: true
      run: ./scripts/tests.sh 3
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_DB: project-sem-1
        POSTGRES_USER: validator
        POSTGRES_PASSWORD: val1dat0r

    - name: Check test results
      if: always()
      run: |
        if [[ "${{ steps.test-level-1.outcome }}" == "success" ]] || \
           [[ "${{ steps.test-level-2.outcome }}" == "success" ]] || \
           [[ "${{ steps.test-level-3.outcome }}" == "success" ]]; then
          echo "At least one test level passed successfully!"
          exit 0
        else
          echo "All test levels failed!"
          exit 1
        fi

  docker_image:
    name: Build
    runs-on: ubuntu-latest
    needs:
    - test
    - lint
    steps:
    - uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Docker 
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Push to DockerHub
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: itmo508541/itmo-devops-sem1-project:latest

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: docker_image
    steps:
    - uses: actions/checkout@v3
    - uses: webfactory/ssh-agent@v0.9.0
      with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Cache yc binary
      uses: actions/cache@v4
      id: cache-yc-cli
      with:
        path: /usr/local/bin/yc
        key: yc-cli-0.175.0

    - name: Get yc binary if cache miss
      if: steps.cache-yc-cli.outputs.cache-hit != 'true'
      shell: bash
      run: |
        sudo curl --fail "https://storage.yandexcloud.net/yandexcloud-yc/release/0.175.0/linux/amd64/yc" -o /usr/local/bin/yc
        sudo chmod a+rx /usr/local/bin/yc

    - name: Create and provision VM
      shell: bash
      env:
        YC_CLOUD_ID: ${{ secrets.YC_CLOUD_ID }}
        YC_FOLDER_ID: ${{ secrets.YC_FOLDER_ID }}
        YC_SA_JSON_CREDENTIALS: ${{ secrets.YC_SA_JSON_CREDENTIALS }}
      run: |
        echo $YC_SA_JSON_CREDENTIALS > instance.json
        yc config set service-account-key instance.json
        yc config set cloud-id $YC_CLOUD_ID
        yc config set folder-id $YC_FOLDER_ID

        yc compute instance create \
          --name itmo508541_vm \
          --description "sem1-project-vm" \
          --zone ru-central1-d \
          --cores 2 \
          --memory 2 \
          --preemptible \
          --create-boot-disk name=itmo508541-disk,type=network-ssd,size=10,image-folder-id=standard-images,image-family=ubuntu-2404-lts \
          --network-interface subnet-name=itmo508541-subnet,nat-ip-version=ipv4 \
          --metadata-from-file user-data=./scripts/user-data.yaml \
          --format json  > instance.json || yc compute instance get --name itmo508541_vm --format=json > instance.json

        SERVER_ADDRESS=`cat instance.json | jq .network_interfaces[0].primary_v4_address.one_to_one_nat.address -r`
        while ! nc -z -v -w30 $SERVER_ADDRESS 22; do   
          sleep 1
        done

        ssh runner@$SERVER_ADDRESS -o StrictHostKeyChecking=no "curl -fsSL https://get.docker.com -o get-docker.sh ;
          sudo bash ./get-docker.sh ;
          sudo chown runner:runner /srv ;
          rm /srv/deploy.yml || true"

        mkdir --parent ./build
        docker compose -f docker-compose.deploy.yml config > ./build/deploy.yml
        scp -P 22 -r ./build/deploy.yml runner@$SERVER_ADDRESS:/srv/deploy.yml

        ssh runner@$SERVER_ADDRESS -o StrictHostKeyChecking=no "cd /srv ;
          docker compose stop || true ;
          rm docker-compose.yml || true ;
          mv deploy.yml docker-compose.yml ;
          docker compose pull ;
          docker compose up -d"

    - name: Update repo description
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        REPO: ${{ github.repository }}
      run: |
        curl -X PATCH \
          -H "Authorization: token $GITHUB_TOKEN" \
          -H "Accept: application/vnd.github.v3+json" \
          -d '{"description":"Проекта 1 семестра Магистратуры DevOps в ИТМО httt://$SERVER_NAME:8080/"}' \
          https://api.github.com/repos/$REPO
